body{
  font-family: 'Open Sans', sans-serif;
}

/* Overwrite chrome user stylesheet */
h3{
 font-weight:lighter; 
}

h1{
font-weight:normal;
  
}

.intro{
display: flex;
flex-direction: row;
margin-top:50px;
margin: auto;
width: 70%;
border-style: solid;
border-radius: 25px;
justify-content: center;
flex-wrap: wrap;
background: white;
box-shadow: 5px 10px black;
font-family: 'Open Sans', sans-serif;

}


.layouts{
  margin-top: 10px;
}
.about{
display: flex;
flex-direction: column;
margin-top:50px;
margin: auto;
width: 70%;
justify-content: center;
flex-wrap: wrap;
background: white;
font-family: 'Open Sans', sans-serif;
}

.navbar{
  margin-bottom: 5em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: 'Open Sans', sans-serif;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.profilepic{
  height:470px;
  width: 400px;
}

.center{
  text-align: center;
}

.icon{
  display: flex;
  flex-direction: row;

}
.icon img{
  height: 50px;
  width: 50px;
}
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.5); }

.grow-image{ transition: all .2s ease-in-out; }
.grow-image:hover { transform: scale(1.5); }

.projects{
display: flex;
flex-direction: row;
margin: 0 auto;
width: 100%;
justify-content: space-evenly;
flex-wrap: wrap;
align-items: center;
background: white;
font-family: 'Open Sans', sans-serif;
padding-bottom: 50px;
padding-top: 25px;

}

.container {
  position: relative;
  padding: 10px;

}

.container h3{
  text-align: center;
}

.items{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;


}
.container>img{
  border-radius: 25px;
  box-shadow: 5px 10px black;
  height:350px;
  width:350px;
}
.items > img{
  padding: 5em;
  justify-content: space-around;
  border-radius: 25px;



}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  opacity: 0;
  transition: .5s ease;
  background-color: grey;
  border-radius: 25px;
}

.container:hover .overlay {
  opacity: 0.75;
  height:350px;
  width: 350px;
}



.text {
  color: white;
  font-size: 20px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

}

.text > img{
position: absolute;
top: 7em;
left: 0;
box-shadow: 5px 10px black;
}

.logos{
  margin-left: 1em;
  position: absolute;
  top: 5em;


}




@media only screen and (max-width: 600px) {
  .profilepic{
    height:250px;
    width: 200px;
    position: sticky;
  }
  
  .intro{
    padding-left: 1em;
    margin-bottom: 2em;
  }

  .icon{
    margin-bottom: 2em;
  }
  

}


footer{
  padding-bottom: 100px;
  font-family: 'Open Sans', sans-serif;

}

footer a h3{
  padding-top: 2em;
  color:white;
  text-decoration: none;
  text-align: center;
}

footer a:link {
  text-decoration: underline;
  text-decoration-color: white;
}

footer a:visited {
  text-decoration: underline;
  text-decoration-color: white;
}
footer h6{
  text-align: center;
  color: white;
}
